.header {
  height: 30vh;
  max-height: 500px;
  min-height: 340px;
  background: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%), #aefd98;
  display: flex;
  padding: 24px 30px;
}

.image__wrapper {
  align-self: flex-end;
  height: 192px;
  width: 192px;
  position: relative;
  margin-inline-end: 24px;

  img {
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
  }
}

.header__info {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-content: space-between;
  color: #fff;

  h2 {
    font-weight: 700;
    margin-top: 4px;
    font-size: 14px;
    text-transform: uppercase;
  }

  h1 {
    padding: 4px;
    width: 100%;
    font-size: 94px;
    margin: 12px 0;
  }
}

.owner_name {
  font-size: 14px;
  font-weight: 700;
}

.header__tracks:before {
  content: "•";
  margin: 0 4px;
  font-weight: 400;
  font-size: 14px;
}

.tracks__duration {
  color: hsla(0,0%,100%,.7);
  white-space: nowrap;
}