.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-area: nav-bar;
  min-height: 0;
  position: relative;
  width: 241px;
  z-index: 3;
  color: #b3b3b3;
  padding-top: 24px;

  hr {
    background-color: #282828;
    border: none;
    height: 1px;
    margin: 8px 24px;
    min-height: 1px;
  }
}

.logo__link {
  margin-bottom: 18px;
  padding: 0 24px;
}

.main_links {
  li {
    padding: 0 8px;

    a {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 4px;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 16px;
      height: 40px;
      padding: 0 16px;
    }
  }
}

.link__icon {
  font-size: 24px;
}

.link__title {
  font-weight: 700;
}

.playlist__links {
  padding: 0 24px;
  
  li {
    height: 32px;
  }

  a {
    color: #b3b3b3;
    display: block;
    overflow: hidden;
    height: 100%;
    line-height: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a:hover {
    color: #fff;
  }
}
